node_modules
tests_output
.env
.DS_Store
.vscode
vrt/diff
vrt/latest
# ui
screens
test_evidence

# Playwright
/test-results/
/test-output/
/playwright-report/
/blob-report/
/playwright/.cache/
tests/.auth/

playwright-browserstack-sdk*
log/
playwright/.auth/

.obs*/
local.log
